$background-color:#D3D3D3;
$font: sans-serif;


body{
    background-color: $background-color;
    font-family: $font;
    
    ul{
        display:flex;
        padding-top:10px;
        flex-wrap:wrap;
        background-color: grey;
        min-height: 30px;
    }
    
    li{
        list-style: none;
        display:block;
        color: white;
        flex-basis:200px;
        flex-grow:1;
        
        &:hover{
            background-color: lighten(black, 10);
            cursor:help;
        }
        
    }
}